@using Microsoft.AspNetCore.Http.Extensions
@model Mostlylucid.Models.Blog.BlogPostViewModel



<title>@Model.Title</title>
<div class="pt-2 lg:pt-2">
    <div class="border-b border-grey-lighter pb-2 sm:pb-2">

        <h2
            class="pb-2 block font-body text-3xl font-semibold leading-tight text-primary dark:text-white sm:text-4xl md:text-5xl">
            @Model.Title
        </h2>
        <div class="border-b border-grey-lighter pb-2 pt-2 sm:pb-2">
            @foreach (var category in Model.Categories)
            {

                <a hx-boost="true"   hx-target="#contentcontainer"  asp-action="Category" asp-controller="Blog" asp-route-category="@category">
                    <span
                        class="inline-block rounded-full dark bg-blue-dark px-2 py-1 font-body text-sm text-white outline-1 outline outline-green-dark dark:outline-white">@category</span>
                </a>
            }
            <a asp-action="Edit" class="ml-4 text-sm  btn-sm btn btn-outline btn-primary" asp-controller="Editor" asp-route-slug="@Model.Slug" asp-route-language="@Model.Language" ><i class=" bx bx-edit"></i> edit</a>
        </div>
     
            @if (Model.Languages.Length > 1)
            {
                var languageModel = (Model.Slug, Model.Languages, Model.Language);
                <div class="border-b border-grey-lighter pb-2 pt-2 sm:pb-2">
                    <p class="font-body  font-bold text-primary dark:text-white">NOTE: Apart from  
                        <a hx-boost="true" hx-target="#contentcontainer" asp-action="Language" asp-controller="Blog" asp-route-slug="@Model.Slug" asp-route-language="en" class="rounded-full outline outline-1 outline-white inline-block">
                            <img src="~/img/flags/en.svg" alt="en" class="w-4 h-4 rounded" />
                        </a>   (and even then it's questionable, I'm Scottish).  These are machine translated in languages I don't read. If they're terrible please <a asp-controller="Contact" class="text-blue-dark dark:text-blue" asp-action="Index">contact me. </a>  <br/>
                        You can see how this translation was done in <a href="/blog/autotranslatingmarkdownfiles" class="text-blue-dark dark:text-blue" >this article. </a> </p>
                    <div class="flex space-x-2 items-center pb-4 pt-2">
                   
                        <partial name="_LanguageList" model="languageModel"/>
                    </div>
                </div>
            }
        <div class="flex items-center pt-1 sm:pt-1">
            <p class="pr-2 font-body font-light text-primary dark:text-white">
                @Model.PublishedDate.ToString("D")
            </p>
            <span class="vdark:text-white font-body text-grey">//</span>
            <p class="pl-2 font-body font-light text-primary dark:text-white">
                @Model.ReadingTime
            </p>
        </div>
    </div>
    <div
        class="prose prose max-w-none border-b py-2 text-black dark:prose-dark sm:py-2">
        @Html.Raw(Model.HtmlContent)
    </div>
@if (Model.Authenticated)
    {
        
  
        <div class=" max-w-none border-b border-grey-lighter py-8 dark:prose-dark sm:py-12">
            <p class="font-body text-lg font-medium text-primary dark:text-white">Welcome @Model.Name please comment below.</p>
            <textarea id="comment"></textarea>
         <!--   <button class="btn btn-primary" hx-action="Comment" hx-controller="Blog" hx-post hx-vals="js:{comment: simplemde.value()}" hx-route-slug="@Model.Slug" hx-swap="outerHTML" hx-target="#comment" onclick="prepareForSubmission()">Comment</button> -->
           COMING SOON!
        </div>
    }
    else
    {
        <div class=" max-w-none border-b border-grey-lighter py-8 dark:prose-dark sm:py-12">
            <p class="font-body text-lg font-medium text-primary dark:text-white">Please login to comment</p>
            <div class="w-[200px] h-[39px] overflow-hidden rounded">
                <div id="google_button2">
                </div>
            </div>
        </div>
    }
</div>