@using Microsoft.AspNetCore.Http.Extensions
@model Mostlylucid.Models.Blog.BlogPostViewModel



<title>@Model.Title</title>
<div class="pt-2 lg:pt-2">
    <div class="border-b border-grey-lighter pb-2 sm:pb-2">

        <h2
            class="pb-2 block font-body text-3xl font-semibold leading-tight text-primary dark:text-white sm:text-4xl md:text-5xl">
            @Model.Title
        </h2>
        <div class="border-b border-grey-lighter pb-2 pt-2 sm:pb-2">
            @foreach (var category in Model.Categories)
            {

                <a hx-boost="true"   hx-target="#contentcontainer"  asp-action="Category" asp-controller="Blog" asp-route-category="@category">
                    <span
                        class="mb-4 inline-block rounded-full bg-blue-dark px-2 py-1 font-body text-sm text-white">@category</span>
                </a>
            }
        </div>
        <div class="border-b border-grey-lighter pb-2 pt-2 sm:pb-2">
            @if (Model.Languages.Length > 1)
            {
                <p class="font-body text-lg font-bold text-primary dark:text-white">NOTE: Apart
                    <span
                        class="mb-4 inline-block rounded-full bg-neutral-700 px-2 py-1 font-body text-sm text-white">en</span> from These are machine translated in languages I don't read. If they're terrible please contact me.</p>
            }
            @foreach (var language in Model.Languages)
            {
                <a hx-boost="true" hx-target="#contentcontainer" asp-action="Language" asp-controller="Blog" asp-route-slug="@Model.Slug" asp-route-language="@language">
                    <span
                        class="mb-4 inline-block rounded-full bg-neutral-700 px-2 py-1 font-body text-sm text-white">@language</span>
                </a>
            }
        </div>
        <div class="flex items-center pt-1 sm:pt-1">
            <p class="pr-2 font-body font-light text-primary dark:text-white">
                @Model.PublishedDate.ToString("D")
            </p>
            <span class="vdark:text-white font-body text-grey">//</span>
            <p class="pl-2 font-body font-light text-primary dark:text-white">
                @Model.ReadingTime
            </p>
        </div>
    </div>
    <div
        class="prose prose max-w-none border-b py-2 text-black dark:prose-dark sm:py-2">
        @Html.Raw(Model.Content)
    </div>
@if (Model.Authenticated)
    {
        
  
        <div class=" max-w-none border-b border-grey-lighter py-8 dark:prose-dark sm:py-12">
            <p class="font-body text-lg font-medium text-primary dark:text-white">Welcome @Model.Name please comment below.</p>
            <textarea id="comment"></textarea>
         <!--   <button class="btn btn-primary" hx-action="Comment" hx-controller="Blog" hx-post hx-vals="js:{comment: simplemde.value()}" hx-route-slug="@Model.Slug" hx-swap="outerHTML" hx-target="#comment" onclick="prepareForSubmission()">Comment</button> -->
           COMING SOON!
        </div>
    }
    else
    {
        <div class=" max-w-none border-b border-grey-lighter py-8 dark:prose-dark sm:py-12">
            <p class="font-body text-lg font-medium text-primary dark:text-white">Please login to comment</p>
            <div class="w-[200px] h-[39px] overflow-hidden rounded">
                <div id="google_button2">
                </div>
            </div>
        </div>
    }
</div>