@model Mostlylucid.Models.Blog.PostListViewModel
<div class="pt-2" id="content">

    @if (Model.TotalItems > Model.PageSize)
    {
        <div class="inline-flex w-full items-center justify-center">
            <pager
                x-ref="pager"
                link-url="@Model.LinkUrl"
                hx-boost="true"
                hx-push-url="true"
                hx-target="#content"
                hx-swap="show:none"
                page="@Model.Page"
                page-size="@Model.PageSize"
                total-items="@Model.TotalItems"
            ></pager>
            <div class="tooltip" data-tip="Show all posts">
                <a class="btn btn-outline btn-sm ml-4" hx-target="#content" hx-trigger="boost" asp-route-page="1" asp-route-pagesize="@Model.TotalItems" asp-action="Index" asp-controller="Home" ><i class='bx bx-list-plus'></i> all</a>
            </div>
        </div>
    }
    @if(ViewBag.Categories != null)
{
    <div class="pb-3">
        <h4 class="font-body text-lg text-primary dark:text-white">Categories</h4>
        <div class="flex flex-wrap gap-2 pt-2">
            @foreach (var category in ViewBag.Categories)
            {
                <a hx-controller="Blog" hx-action="Category" hx-push-url="true" hx-get hx-target="#contentcontainer" hx-route-category="@category" href>
                    <span class="inline-block rounded-full dark bg-blue-dark px-2 py-1 font-body text-sm text-white outline-1 outline outline-green-dark dark:outline-white">@category</span>
                </a>
            }
        </div>
    </div>
}
@foreach (var post in Model.Posts)
{
    <partial name="_ListPost" model="post"/>
}
</div>