@using Mostlylucid.Helpers
@using Mostlylucid.Shared.Helpers
@model (string slug, string[] languuages, string? selectedLanguage)


@foreach (var language in Model.languuages)
{
var active= "opacity-50 hover:opacity-100";
    if (language == Model.selectedLanguage)
    {
        active = "opacity-100";
    }
    <div class="tooltip mt-1.5 " data-tip="@language.ConvertCodeToLanguage()">
    <a hx-boost="true" hx-swap="show:window:top"   hx-target="#contentcontainer" asp-action="Language" asp-controller="Blog" asp-route-slug="@Model.slug" asp-route-language="@language" class=" rounded outline outline-1  outline-green-dark dark:outline-white w-6 h-4  @active">
        <img src="~/img/flags/@(language).svg" height="16px" width="24px"   asp-append-version="true" alt="@language.ConvertCodeToLanguage()" class="h-4 w-6 rounded" />
    </a>
    </div>
}