@model Mostlylucid.Models.BaseViewModel
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport"
    />
    <title>@ViewBag.Title</title>

    <!-- Static RSS Feed Link -->
    <link rel="alternate" type="application/atom+xml"
          title="RSS Feed for mostlylucid.net"
          href="https://@Context.Request.Host/rss" />

    <!-- Dynamic RSS Feed Links for each category -->
    @if (ViewBag.Categories != null)
    {
        foreach (var category in ViewBag.Categories)
        {
            <link rel="alternate" type="application/atom+xml"
                  title="RSS Feed for mostlylucid.net - @category"
                  href="https://@Context.Request.Host/rss?category=@category"/>
        }
    }

    @{
        var currentUrl = $"https://{Context.Request.Host}{Context.Request.Path}";
    }
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="@currentUrl" id="metaOgUrl">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" content="Scott Galloway is a lead developer and software engineer with a passion for building web applications.">
    <meta property="og:image" content="https://mostlylucid.net/img/social2.jpg">
    <meta property="og:locale" content="en_GB" />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="mostlylucid.net">
    <meta property="twitter:url" content="@currentUrl" id="metaTwitterUrl">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:description" content="Scott Galloway is a lead developer and software engineer with a passion for building web applications.">
    <meta name="twitter:image" content="https://mostlylucid.net/img/social2.jpg">
    

    <meta
        name="description"
        content="Scott Galloway is a lead developer and software engineer with a passion for building web applications."
    />
    <link rel="icon" type="image/png" href="/img/smalllogo.svg" />
    <script src="https://accounts.google.com/gsi/client"  data-cfasync="false" async defer></script>

    <link
        crossorigin="crossorigin"
        href="https://fonts.gstatic.com"
        rel="preconnect"
    />

    <link
        as="style"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="preload"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
    />

    <link
        rel="stylesheet"
        href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/default.min.css"/>
 
    <link
        crossorigin="anonymous"
        href="/css/dist/main.css" asp-append-version="true"
        media="screen, print"
        rel="stylesheet"
    />
    <link id="light-mode" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/default.min.css">

    <!-- Dark Mode Stylesheet -->
    <link id="dark-mode" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/atom-one-dark.min.css" disabled>

    <!-- Additional Dark Mode Stylesheet -->
    <link id="simplemde-dark" rel="stylesheet" href="https://cdn.rawgit.com/xcatliu/simplemde-theme-dark/master/dist/simplemde-theme-dark.min.css" disabled>

    <link id="simplemde-light" rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">


    <link rel="manifest" href="~/manifest.json" />
</head>

<body
    x-data="globalSetup()"
    x-init="themeInit()"
    :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
    class="bg-custom-light-bg dark:bg-custom-dark-bg "
    
>

<div id="main">
    <div class="container mx-auto">
        <div class="flex flex-wrap items-center justify-between mb-3 pt-2 pb-2  w-full border-b border-grey-lighter" id="header">
            <a href="/" class="flex items-center mb-4">
                <span class="bx bx-home text-2xl font-bold  mr-2 transition-colors group-hover:text-green 
dark:text-white dark:group-hover:text-secondary print:hidden" ></span>
                <div class="mr-2">
                    <div class="svg-container">
                        <img src="/img/logo.svg" asp-append-version="true"  width="180px" height="30px"  alt="mostlylucid limited" :class="{ 'img-filter-dark': isDarkMode }"/>
                    </div>
                </div>
            </a>

            <div class="w-full lg:w-auto print:hidden">
                <ul class="flex flex-wrap items-center justify-end space-x-2">
                    <li class="group relative mb-1">
                        <div  hx-trigger="load" hx-get="/typeahead">
                        </div>

                    </li>

                    <li class="group relative mb-1 ">
                        <div class="flex items-center space-x-4">
                            @if (Model != null)
                            {
                            if (Model.Authenticated)
                            {
                            <div class="flex items-center space-x-4">
                               
                                <a data-logout-link asp-action="Logout" asp-controller="Login" target="_blank" class="btn btn-outline btn-sm  text-blue-dark dark:text-white">
                                    @if (Model.AvatarUrl != null)
                                    {
                                    <img src="@Model.AvatarUrl"  width="24px" height="24px" class="h-6 w-6 rounded-full" alt="User Avatar" />
                                    }
                                <span class="text-body text-blue-dark dark:text-white"> @Model.Name</span>
                                
                                    <i class="bx bx-log-out mr-2 text-xl"></i> 
                                </a>
                            </div>
                            }
                            else
                            {
                            <div class="w-[200px] h-[39px] overflow-hidden rounded">
                                <div id="google_button"></div>
                            </div>
                            }
                            }
                        </div>
                    </li>

                    <li class="group relative mb-1 mt-1">
                        <partial name="_Socials" />
                    </li>

                    <li class="group relative mb-1">
                        <a href="/blog/aboutme" class="relative z-30 block px-2 font-body text-xl font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Intro</a>
                    </li>

                    <li class="group relative mb-1">
                        <a href="/blog" class="relative z-30 block px-2 font-body text-xl font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">
                            
                            Blog
                        </a>
                    </li>

                    <li class="group relative mb-1">
                        <a href="/rss" target="_blank" class="flex items-center text-xl space-x-2 hover:text-secondary dark:hover:text-secondary transition-colors">
                            <i class="text-2xl  bx bx-rss"></i>
                            <span class="ml-2">RSS</span>
                        </a>
                    </li>

                    <li class="group relative mb-0.5">
                        <a asp-action="Index" asp-controller="Contact" class="flex items-center text-xl space-x-2 text-primary dark:text-white hover:text-secondary dark:hover:text-secondary transition-colors" data-umami-event="Contact Click">
                            <i class='bx bx-mail-send text-2xl'></i>
                            <span class="ml-0.5">Contact</span>
                        </a>
                    </li>

                    <li class="group relative mb-1">
                        <div class="flex items-center">
                            <i class="bx cursor-pointer text-3xl text-primary dark:text-white transition-colors" x-on:click="themeSwitch()" :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"></i>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>
<div>
  <div class="container mx-auto" id="contentcontainer">
   @RenderBody()
    </div>
    <div class="container pb-8 mx-auto">
        <div
            class="flex flex-col items-center justify-between  sm:flex-row sm:py-2">
            <div class="mr-auto flex flex-col items-center sm:flex-row">
                <a href="/" class="mr-auto sm:mr-6">
                    <div class="svg-container">
                        <img src="/img/logo.svg" asp-append-version="true"  width="180px" height="30px"  alt="logo"  :class="{ 'img-filter-dark': isDarkMode }"/>
                    </div>
                </a>
                <p class="pt-5 font-body font-light text-primary dark:text-white sm:pt-0">
                    ©2024 Scott Galloway
                </p>
            </div>
            <partial name="_Socials"/>
        </div>
        
    </div>

</div>


<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="~/js/dist/main.js" asp-append-version="true"  data-cfasync="false" > </script>
<script defer src="@(ViewBag.UmamiPath + "/" +ViewBag.UmamiScript)" data-website-id="@ViewBag.UmamiWebsiteId"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>