@model Mostlylucid.Models.BaseViewModel
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport"
    />
    <title>@ViewBag.Title</title>
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.mostlylucid.net">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" content="Scott Galloway is a lead developer and software engineer with a passion for building web applications.">
    <meta property="og:image" content="https://mostlylucid.net/img/social2.jpg">
    <meta property="og:locale" content="en_GB" />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="mostlylucid.net">
    <meta property="twitter:url" content="https://www.mostlylucid.net">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:description" content="Scott Galloway is a lead developer and software engineer with a passion for building web applications.">
    <meta name="twitter:image" content="https://mostlylucid.net/img/social2.jpg">
    

    <meta
        name="description"
        content="Scott Galloway is a lead developer and software engineer with a passion for building web applications."
    />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <script src="https://accounts.google.com/gsi/client"  data-cfasync="false" async defer></script>
    <script>
        
        
        function renderButton(element)
        {
            google.accounts.id.renderButton(
                element,
                {
                    type: "standard",
                    size: "large",
                    width: 200,
                    theme: "filled_black",
                    text: "sign_in_with",
                    shape: "rectangular",
                    logo_alignment: "left"
                }
            );
        }
        function initGoogleSignIn() {
            google.accounts.id.initialize({
                client_id: "839055275161-u7dqn2oco2729n6i5mk0fe7gap0bmg6g.apps.googleusercontent.com",
                callback: handleCredentialResponse
            });
            const element = document.getElementById('google_button');
            if (element) {
                renderButton(element);
            }
            const secondElement = document.getElementById('google_button2');
            if (secondElement) {
                renderButton(secondElement);
            }
           
        }

        function handleCredentialResponse(response) {
            if (response.credential) {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/login', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        window.location.reload();
                    } else {
                        console.error('Failed to log in.');
                    }
                };
                xhr.send(JSON.stringify({ idToken: response.credential }));
            } else {
                console.error('No credential in response.');
            }
        }

        window.onload = initGoogleSignIn;
    
    
    </script>
    <link
        crossorigin="crossorigin"
        href="https://fonts.gstatic.com"
        rel="preconnect"
    />

    <link
        as="style"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="preload"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
    />

    <link
        rel="stylesheet"
        href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"/>
 
    <link
        crossorigin="anonymous"
        href="/css/dist/main.css" asp-append-version="true"
        media="screen"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/xcatliu/simplemde-theme-dark/master/dist/simplemde-theme-dark.min.css">

    <!--Alpine Js V3-->
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="/js/main.js"></script>
</head>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-J9VJNKV3PV');
</script>

<body
    x-data="global()"
    x-init="themeInit()"
    :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
    class="bg-custom-light-bg dark:bg-custom-dark-bg "
    
>

<div id="main">
    <div class="container mx-auto">
        <div class="flex items-center justify-between py-6 lg:py-10 w-full">
            <a href="/" class="flex items-center">
                <div class="mr-2">
                    <div class="svg-container">
                        <img src="/img/logo.svg" alt="logo" :class="{ 'img-filter-dark': isDarkMode }"/>
                    </div>
                 
                </div>
            </a>
         
            <div class="block">
                <ul class="flex items-center space-x-4">
                    <li class="group relative mb-1">
                        <div class="flex items-center space-x-4 flex-grow">
                            @if (Model.Authenticated)
                            {
                                <div class="flex items-center space-x-4">
                                    @if (Model.AvatarUrl != null)
                                    {
                                        <img src="@Model.AvatarUrl" class="h-10 w-10 rounded-full" alt="User Avatar"/>
                                    }
                                    <span class="text-blue-dark dark:text-white ">Logged in as @Model.Name</span>
                                    <a data-logout-link asp-action="Logout" asp-controller="Login" target="_blank" class="btn btn-primary text-white rounded">
                                        Logout
                                    </a>
                                </div>
                            }
                            else
                            {
                            <div class="w-[200px] h-[39px] overflow-hidden rounded">
                                <div id="google_button"></div>
                            </div>
                            }
                        </div>
                    </li>
                    <li class="group relative mb-1">


                        <partial name="_Socials"/>
                    </li>
                    <li class="group relative mb-1">
                        <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"></div>
                        <a href="/" class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Intro</a>
                    </li>
                    <li class="group relative mb-1">
                        <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"></div>
                        <a href="/blog" class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Blog</a>
                    </li>
                    <li class="group relative mb-1">
                        <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"></div>
                        <a asp-action="Index" asp-controller="Contact" class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Contact</a>
                    </li>
                    <li class="group relative mb-1">
                        <div class="flex items-center lg:visible">
                            <i
                                class="bx mr-8 cursor-pointer text-3xl text-primary dark:text-white"
                                x-on:click="themeSwitch()"
                                :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"
                            ></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

   


<div>
    
    <div class="container mx-auto" id="contentcontainer">
   @RenderBody()

    </div>

    <div class="container mx-auto">
        <div
            class="flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12">
            <div class="mr-auto flex flex-col items-center sm:flex-row">
                <a href="/" class="mr-auto sm:mr-6">
                    <div class="svg-container">
                        <img src="/img/logo.svg" alt="logo" :class="{ 'img-filter-dark': isDarkMode }"/>
                    </div>
                </a>
                <p class="pt-5 font-body font-light text-primary dark:text-white sm:pt-0">
                    ©2024 Scott Galloway
                </p>
            </div>
            <partial name="_Socials"/>
        </div>
        
    </div>

</div>

<script src="~/js/dist/htmx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/highlightjs-cshtml-razor/dist/cshtml-razor.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid@10.9.1/dist/mermaid.min.js"></script>



<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
<script>

function setLogoutLink() {
        // Get the logout link
    var logoutLink = document.querySelector('a[data-logout-link]');

    if (logoutLink) {
        // Get the current URL
        var currentUrl = window.location.href;

        // Update the href attribute to include the return URL
        var baseUrl = logoutLink.href.split('?')[0]; // Get the base URL without query parameters
        logoutLink.href = baseUrl + '?returnUrl=' + encodeURIComponent(currentUrl);
    }
    }
    
    var currentUrl = window.location.href;
    var simplemde;
    document.addEventListener('DOMContentLoaded', function () {
        hljs.highlightAll();
        mermaid.initialize({ startOnLoad: true });
        if (document.getElementById("comment") != null)
        {
        
       simplemde = new SimpleMDE({ element: document.getElementById("comment") });
       }
        setLogoutLink();
        
    });
    document.body.addEventListener('htmx:afterSwap', function(evt) {
            // Call your JavaScript function here
        
            hljs.highlightAll();
        if (document.getElementById("comment") != null)
        {
        simplemde = new SimpleMDE({ element: document.getElementById("comment") });
        
        }
     initGoogleSignIn();
        mermaid.run();
        setLogoutLink();
    });


</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J9VJNKV3PV"></script>
</body>
</html>