@model Mostlylucid.Models.Blog.PostListModel

<div class="border-b border-grey-lighter pb-8">
    @foreach (var category in Model.Categories)
    {
        
  
        <span
            class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green">@category</span>
    }
    <a
        asp-action="Show" asp-route-slug="@Model.Slug" asp-controller="Blog"
        class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary">@Model.Title</a>
    <div class="block font-body">@Model.Summary</div>
    <div class="flex items-center pt-4">
        <p class="pr-2 font-body font-light text-primary dark:text-white">
            @Model.Date.ToString("f")
        </p>
        <span class="font-body text-grey dark:text-white">//</span>
        <p class="pl-2 font-body font-light text-primary dark:text-white">
            @Model.ReadingTime
        </p>
    </div>
</div>